airflow/data
airflow/logs
airflow/dags/__pycache__
airflow/dags/__pycache__
airflow/dags/temp_dags
airflow/plugins/__pycache__
venv/
ignore/
.env
airflow/dags/telegram_config.py
airflow/dags/test.py
init-airflow.sh
telegram.txt
.env.bak
dbt/logs