airflow/data/
airflow/logs/
airflow/dags/__pycache__/
airflow/plugins/__pycache__/
airflow/dags/utils/__pycache__/
venv/
ignore/
init-airflow.sh/
telegram.txt
.env.bak
*.env
*.sh
*.template
setup-env.sh
dbt/logs
