__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/*.py[cod]
**/*$py.class
airflow/data/
airflow/logs/
venv/
ignore/
init-airflow.sh/
telegram.txt
.env.bak
*.env
*.sh
*.template
setup-env.sh
dbt/logs
dashboard_backup/
